@import "tailwindcss";

@layer base {
  :root {
    --red: #ff0000;
    --blue: #000066;
    --white: #fffcfc;
    --black: #04040d;
    --grey: #48486b;
    --darkBlue: #00002b;
    --darkGrey: #c0c0cc;
  }
}

@font-face {
  font-family: "title";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "body";
  src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "number";
  src: url("./assets/fonts/Anton-Regular.ttf");
}

body {
  background-color: #fffcfc;
  font-family: "body";
  color: #04040d;
}

/* @layer base {
  * {
    border-color: var(--border);
    outline-color: rgb(0 0 0 / 0.5);
  }
}
@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  .animate-slideDown {
    animation: slideDown 0.3s ease-in-out;
  }
} */
